/* Font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hind Siliguri", serif;
}

.navbar {
    padding: 20px;
    box-shadow: 2px 1px 5px rgb(204, 196, 196);
}

.logo-img {
    width: 100px;
    object-fit: contain;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon-text {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.search {
    position: relative;
}

.search-field {
    padding-left: 40px;
}

.search-img {
    position: absolute;
    top: 20%;
    left: 5%;
}

.special-offer {
    border: 1px solid darkkhaki;
    border-radius: 8px;
}

.nav-link {
    font-weight: 500;
}

.courses {
    background-color: rgba(142, 140, 140, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    gap: 10px;
}

.btn-common {
    background-color: #FFC000;
    filter: brightness(0.9);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;

}

.btn-common:hover {
    background-color: #FFC000;
    filter: brightness(1);
}


li a {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #101828;

}

/* Piku Section */
.piku {
    text-decoration: none;
    background-color: #DAE4FF;
    padding: 5px 10px;
    border-radius: 20px;
    gap: 10px;
    font-size: 16px;
    width: 35%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 700;
}

.text-bg {
    background-color: #5852FA;
}

.piku-img {
    width: 22px;
}

/* Hero Section */
#banner-hero {
    margin-top: 30px;
}

.hero {
    background-color: #EEF6F3;
    border: 1px solid #98A2B3;
    border-radius: 15px;
    padding: 30px;
}

.btn-start {
    width: 40%;
}

.hero-left {

    gap: 20px;
}

.hero-left h2 {
    color: #101828;
    font-weight: 800;
    font-size: 36px;
}

.hero-left h2 span {
    color: #F04438;
}

.hero-left p {
    font-weight: 600;
    color: #1D2939;
}

.hero-left h2 img {
    width: 150px;
}

.hero-right img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.company {
    gap: 10px;
}

.company img {
    width: auto;
    height: 20px;
    filter: grayscale(1.0);
}

.company img:hover {
    filter: grayscale(0.0);
}

/* upcoming-course section */
#upcoming-course {
    padding: 50px 0px;

}

#upcoming-course .row h2 {
    font-weight: 700;
}

#upcoming-course .row h2>img {
    width: 40px;
}



.upcoming-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #101828;
    filter: grayscale(1.0);

}

.course-types {
    gap: 20px;
}

.course-item {
    width: 22%;
    gap: 10px;
    align-items: center;
    background: #EAECF0;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
}

.course-type-content h5 {
    font-size: 14px;
    font-weight: 600;
}

.course-type-content p {
    font-size: 12px;
    margin-bottom: 0;
}

.course-item:hover {
    background: #1D2939;
    color: #fff;
}

.course-item:hover .upcoming-img {
    filter: grayscale(0.0);
}